AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: AfterColon
ColumnLimit: 95
IncludeBlocks: Preserve
IndentCaseLabels: true
NamespaceIndentation: All
PackConstructorInitializers: NextLineOnly
SortIncludes: CaseSensitive
